.container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 60px;
}

.wrapper {
	background-color: var(--softBg);
	padding: 120px 130px;
	display: flex;
	flex-direction: column;
	gap: 35px;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
}

.socialButton {
	padding: 20px;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

.socialButton:first-child {
	background-color: #ff5555;
}

.socialButton:nth-child(2) {
	background-color: #111111;
}

.socialButton:last-child {
	background-color: #5590ff;
}

@media screen and (max-width: 768px) {
	.wrapper {
		padding: 60px 80px;
	}
}

@media screen and (max-width: 640px) {
	.wrapper {
		padding: 30px;
	}
	.socialButton {
		font-weight: 300;
		font-size: 14px;
	}
}
